# Environments
.env
.env.*
# Skip example .env files
!.env.example
!.env.*.example

# Jetbrains
.idea/
*.iml

# Local development logs
*.log*
*.log.*

# macOS
.DS_Store

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
